.title-slide {
	background-color: #63718B;
  background-image: url(https://raw.githubusercontent.com/UMR-PASSAGES/logo/main/passages_cist.png?token=AFTCZFAI3CRTGPA7KOWWZES7O6XY4);
	background-position: center bottom 150px;
	background-size: 30%;
	border-bottom: 0px solid  #522D80;
	box-shadow:  0 55px 0 #fff;
}
