.title-slide {
	background-color: #63718B;
  background-image: url(https://raw.githubusercontent.com/LeCampionG/logo/main/passages_cist.png?token=AFTCZFFRQX6TE3EF57ADRPK7PATPU);
	background-position: center bottom 150px;
	background-size: 30%;
	border-bottom: 0px solid  #522D80;
	box-shadow:  0 55px 0 #fff;
}
